.a{
	color: red;
	text-decoration: overline;
	font-size: 50px;	
	font-weight: normal;
}
.pink{
	color: green;
	font-size: 30px;
}
hr{
	margin: 20px 0;
	padding: 0;
	height: 1px;
	border: none;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
.aa{
	color: red;
}
.b{
	color: orange;
}
.c{
	color: yellow;
}
.d{
	color: green;
}
.e{
	color: lightblue;
}
.f{
	color: violet;
	margin-bottom: 100px;
}

ul li{
	list-style-image: url(../img/penuguin.png);
}
.k1{
	text-decoration: none;
	font-size: 52px;
	color: black;
	background-color: lightcyan;
	border: 5px solid violet;
	border-radius: 15px;
	padding: 20px 40px;
	box-shadow: 0 0 10px 1px rgba(100, 0, 100, 0.5);

}
.k2{
	;
	font-size: 52px;
	
	background-color: lightcyan;
	border: 5px solid violet;
	border-radius: 15px;
	padding: 20px 40px;
	box-shadow: 0 0 10px 1px rgba(100, 0, 100, 0.5);
	margin-left: 100px;

}
.k22{
	color: black;
	text-decoration: none;

}
